body{
    background: linear-gradient(blue,violet);
    height: 100vh;
    display: flex;flex-direction: column; align-items: center; justify-content: center;
}

.panel{
    
    height: 50%;
    width: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn  {
    background: linear-gradient(blue, violet);
    width: 100%;
    padding: 1.5rem;
    margin: 2rem;
    font-size: 2.5rem; font-weight: 600;
    color: white;
    
}

.btn-container{
    height: 50%;
    
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1rem; font-weight: 600;
    color: white;
    font-size: 2rem;
}

.container{
   color: black;
   text-align: center;
   
}

.btns{
    background: linear-gradient(blue,violet);
    padding: 2rem;
    color: white;
    font-size: 2rem;
}

