body{
    background: crimson;
    
}

.container{
    background: white;
    height: auto;
    width: 40%;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    margin-top: 25%; margin-left: 25%;
    cursor: pointer;
    padding: 1rem;
}

.input{
    width: 80%;
    padding: 15px;
    
}


.element_class{
    margin-top: 7px;
    display: flex; justify-content: space-between;
    border-left: 2px solid crimson;
    width:80%; padding: 15px;
    height: 1rem;
    background: violet;
}

#wrong{
    height: 1rem; width: 1rem;
}
.content{
    font-size: 20px; margin-top: -5px;
}